<!DOCTYPE html>
<html>
<head>
	<title>FoodieConnect</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/public/style/style.css">
	
</head>
<body>
	<div id="header">
		<ul id="menubar">
			<li><h2 id="banner">FoodieConnect</h2></li>
			<li><span> - meet friends for food</span></li>
			<% if (!user) { %>
				<li><a href="/auth/facebook" class="auth" id="fblogin"><span class="fa fa-facebook"></span> login</a></li>
			<% } else { %>
				<li class="auth">Welcome, <%= user.facebook.name %></li>
				<li class="auth"><a href="/logout">logout</a></li>
			<% } %>
		</ul>
	</div>
	<div id="main">
		<form action="/api/location" method="POST">
			<input id="searchbox" type="search" placeholder="search your location..." name="location">
			<button type="submit"><span class="fa fa-search"></span></button>
		</form>
		<ul id="restos">
		<% for(let i=0; i< yelps.length; i++){ %>
			<li class="resto" id="<%= yelps[i].id %>">
				<div class = "images">
					<img src="<%= yelps[i].img %>" style="width: 100px; height: 100px;"/>
				</div>
				<div class = "contactinfo">
					<a href="<%= yelps[i].url %>" target="_blank"><h2><%= yelps[i].name %></h2></a> 
					<button class="going" id="<%= yelps[i].id %>button"><span class="guests" id="<%= yelps[i].id %>guests">0</span> going</button>
					<p>Address: <%= yelps[i].location.address1 %>
					<%= yelps[i].location.address2 %>
					<%= yelps[i].location.address3 %>
					<%= yelps[i].location.zip_code %>
					<%= yelps[i].location.city %></p>
					<p>Phone: <%= yelps[i].phone %>
					<p>Price:  <%= yelps[i].price %></p>
					<p>Rating: <%= yelps[i].rating %></p>
				</div>
				
			</li>
		<% } %>
	</div>
	<footer>
		<p>Powered by: <img src="/public/img/yelp.png"/></p>
	</footer>
	<script>if (window.location.pathname.endsWith('location')) history.replaceState('', '', window.location.origin);</script>
	<script src="/controllers/clientCtrl.js"></script>
</body>
</html>